* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.65%;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  line-height: 1;
  background-color: #fff;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.4rem 3.8rem;

  .logo {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;

    .logo_img {
      width: 50px;
      height: 50px;
    }

    .company_name {
      font-size: 24px;
      font-weight: 700;
      color: #171b26;
      .colored {
        color: #6d61e0;
      }
    }
  }

  .nav_link {
    display: flex;
    align-items: center;
    gap: 48px;
    font-size: 18px;
    font-weight: 400;

    .links {
      position: relative;
      text-decoration: none;
      color: #171b26;
    }

    .links::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: transparent;
      transition: background-color 0.3s ease;
    }
    .links:link,
    .links:visited {
      background-color: transparent;
    }

    .links:hover,
    .links:active {
      cursor: pointer;
      color: #6c60e0;
    }

    .links:link::after,
    .links:visited::after {
      background-color: transparent;
    }

    .links:hover::after,
    .links:active::after {
      background-color: #6c60e0;
    }
  }

  .registration {
    font-size: 16px;
    font-family: 400;
    color: #9179f5;
    border: solid 1px #9179f5;
    padding: 1.4rem 2.4rem;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.06);
    border-radius: 120px;
  }
}

.hero_section {
  padding: 0 3.8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.4rem;

  .first_side {
    .description {
      padding-top: 2.2rem;
      padding-bottom: 1.6rem;
      font-size: 6.4rem;
      font-weight: 600;
      color: #171b26;
    }

    .more_description {
      font-size: 1.8rem;
      font-weight: 400;
      color: #646879;
      line-height: 2;
      border-left: solid #646879 2px;
      padding-left: 2.4rem;
    }
    .enroll {
      display: flex;
      gap: 1.2rem;
      align-items: center;
      padding-top: 3.6rem;

      .button_enroll {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Helvetica;
        border: none;
        outline: none;
        background-color: #6c60e0;
        color: #fff;
        height: 60px;
        font-size: 16px;
        font-weight: 700;
        width: 35%;
        border-radius: 120px;
        cursor: pointer;
      }
      .button_enroll:link,
      .button_enroll:visited {
        color: #fff;
        text-decoration: none;
      }
      .button_enroll:hover,
      .button_enroll:active {
        background-color: #7c71dd;
      }

      .video_play {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.6rem;

        .playingvideo {
          position: relative;
          display: inline-block;

          .img_play {
            width: 60px;
            height: 60px;
            border-radius: 50%;
          }

          .play_icon {
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            padding: 2px;
            background-color: #fff;
            border-radius: 50%;
            box-shadow: 5px 0 10px rgb(0, 0, 0, 0.1);
          }
        }

        .our_story {
          font-size: 14px;
          font-family: Helvetica;
          font-weight: 700;
          color: #171b26;
        }
      }
    }
  }

  .second_side {
    position: relative;
    padding-top: 2.4rem;
    .student {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .experts {
      display: flex;
      align-items: center;
      gap: 1.2rem;
      box-shadow: 10px 0 10px rgb(0, 0, 0, 0.1);
      width: 215px;
      border-top-right-radius: 120px;
      border-bottom-right-radius: 120px;
      position: absolute;
      top: 12%;
      left: -10%;

      .person_container {
        background-color: #3cc1fe;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;

        .person {
          width: 30px;
          height: 30px;
        }
      }

      .number_experts,
      .number_coures {
        font-size: 20px;
        font-weight: 700;
        color: #646879;

        .mentors,
        .course {
          color: inherit;
          font-size: 14px;
          font-weight: 400;
        }
      }
    }

    .book {
      width: 60px;
      height: 60px;
      background-color: #8ad6b8;
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 12%;
      right: 10%;
    }

    .courses {
      display: flex;
      align-items: center;
      justify-content: space-around;
      box-shadow: 5px 5px 5px 5px rgb(0, 0, 0, 0.05);
      width: 136px;
      padding: 1.3rem;
      gap: 1.2rem;
      border-radius: 6px;
      position: absolute;
      bottom: 15%;
      right: 4%;
      z-index: 999;
      background-color: #fff;

      .outline_container {
        background-color: #ff7f6e;
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin-left: 1.2;
      }

      .number_coures {
        font-size: 20px;
        font-weight: 700;
        color: #646879;

        .course {
          color: inherit;
          font-size: 14px;
          font-weight: 400;
        }
      }
    }

    .teaching {
      width: 60px;
      height: 60px;
      background-color: #ffa54e;
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 42%;
      left: -5%;
    }

    .triangle {
      width: 0;
      height: 0;
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      border-bottom: 9px solid #9179f5;
      transform: rotate(30deg);
      position: absolute;
      top: 2%;
      left: 36%;
    }

    .circle {
      width: 15px;
      height: 15px;
      background-color: #9179f5;
      border-radius: 50%;
      position: absolute;
      top: 25%;
      left: 16%;
      z-index: 999;
    }

    .circle_bigger {
      width: 20px;
      height: 20px;
      background-color: #9179f5;
      border-radius: 50%;
      position: absolute;
      top: 6%;
      right: 27%;
    }

    .square {
      width: 15px;
      height: 15px;
      background-color: #9179f5;
      transform: rotate(45deg);
      position: absolute;
      top: 65%;
      left: 2%;
    }
  }
}
